@{
   
}

<div>
   
   <form method="POST"  asp-controller="Products" asp-action="Index">
       <input type="text" placeholder="Product Name" name="productname" id="">
       <input type="text" placeholder="Product Price" name="productprice" id="">
       <input type="text" placeholder="Product Quantity" name="productqt" id="">
       <select name="producttype" id="">
           <option value="">Electronics</option>
            <option value="">Automobiles</option>
           <option value="">Clothes</option>
       </select>
       <input type="submit" name="submit" id="" value="Save Product">
   </form>

</div>